* {
    margin: unset;
    padding: unset;
}

body {
    background: #F2F2F2;
}

nav {
    background: #00805A;
    height: 3rem;
    line-height: 3rem;
    color: #FFF;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.container {
    padding: 1rem;
}

#form-item label {
    display: block;
    margin-bottom: 1rem;
}

#form-item input {
    height: 2rem;
    text-align: center;
    border: 1px solid #BFBFBF;
}

#quantity-input, #price-input {
    width: 3rem;
}

#add-item-button {
    border: unset;
    background: #00805A;
    color: #FFF;
    padding: 0.5rem;
}

#add-item-button:active {
    opacity: 0.8;
}

#item-list {
    margin: 3rem 1rem 2rem;
}

.item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: #EAEAEA;
    margin-bottom: 0.5rem;
}

.checkbox {
    height: 100%;
    width: 2.5rem;
}

.item-info {
    text-align: center;
}

.delete {
    margin: 0 0 0 auto;
    border: unset;
    background: #B10000;
    color: #FFF;
    font-size: 0.8rem;
    width: 2.5rem;
    height: 100%;
}

.delete:active {
    opacity: 0.8;
}

.purchased {
    background: #00805A;
    color: #FFF;
}

.purchased p {
    text-decoration: line-through;
}